* {
 box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 900px;
  margin: 0 auto;
}


header{
  position:fixed;
  top:0px;
  bottom:0px;
  width: 100%;
  height: 110px;
  padding-top: 15px;
  z-index: 100;
  background-color: #172C3B;
}

h1{
  font-family: 'Fredoka One', cursive;
  font-size: 40px;
  color: #19E8D6;
  text-align: center;
  letter-spacing: 1px;
}

p{
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  margin-top: 5px;
}

body {
  background-color: #172C3B;
}


ul{
  display: flex;
  flex-direction: column;
  right: 0;
  margin: none;
  padding-left: 20px;

}

li{
  list-style-type: none;
  padding-bottom: 10px;
}

img{
  border-radius: 6px;
}

a:hover, a:active {
  opacity: 0.5;

}

.not-active{
  opacity: 0.3;
  cursor: none;
}


.active {
  transition-duration: 0.4s;
  cursor: pointer;
}


.button {
  margin-top: 56px;
  background-color: #19E8D6;
  border: none;
  color: #172C3B;
  padding: 10px 19px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 6px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: 'Fredoka One', cursive;
  margin-left: 20px;
  height: 40px;
}

.button:hover {
  background-color: #0EB9AB;
  color: #172C3B;
}

.next{
  padding-top: 10px;
}


#ocean-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: relative;
  left: 0;
  z-index: 1;
  padding-top: 140px;
}

.responsive-img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

#eel{
  position: absolute;
  z-index: 2;
  bottom: 133px;
  left: 123px;
  cursor: pointer;
}

.addborder{
  border: 2px;
  border-color: white;

}

#leafyseadragon{
  position: absolute;
  z-index: 2;
  right: 607px;
  bottom: 281px;
  cursor: pointer;
}

#octopus{
  position: absolute;
  z-index: 2;
  right: 309px;
  bottom: 89px;
  cursor: pointer;

}

#item1 {
  width: 100px;
  margin-left: 20px;
  display: none;
  height: 80px;
}

#item2 {
  width: 100px;
  margin-left: 20px;
  display: none;
  height: 80px;
}

#item3 {
  width: 100px;
  margin-left: 20px;
  display: none;
  height: 80px;
}

.bottom-row{
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-bottom: 60px;
  padding-left: 209px;
}


.image-bank{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 90px;
  width: 768px;
  border-bottom: 3px #19E8D6;
  border-bottom-style: dashed;
  padding-bottom: 50px;
  padding-top: 20px;
}


/* start of arctic image styles* ----------------------------------------- */


#item4 {
  width: 100px;
  margin-left: 20px;
  height: 80px;
  display: none;
  height: 80px;
}

#item5 {
  width: 100px;
  margin-left: 20px;
  display: none;
  height: 80px;
}

#item6 {
  width: 100px;
  margin-left: 20px;
  display: none;
  height: 80px;
}

#owl{
  position: absolute;
  z-index: 2;
  right: 374px;
  bottom: 306px;
  cursor: pointer;
}

#arctic-fox{
  position: absolute;
  z-index: 2;
  left: 285px;
  bottom: 102px;
  cursor: pointer;
}

#rabbit{
  position: absolute;
  z-index: 2;
  left: 570px;
  bottom: 116px;
  cursor: pointer;
}


#arctic-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: relative;
  left: 0;
  z-index: 1;
  padding-top: 140px;
}

.bottom-row2{
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-bottom: 60px;
  padding-left: 209px;
}

.image-bank{
  display: flex;
  align-items: center;
  height: 95px;
  width: 768px;
  border-bottom: 3px #19E8D6;
  border-bottom-style: dashed;
  padding-bottom: 50px;
  padding-top: 20px;
}

/*forest image starts here*/
#item7{
  width: 100px;
  margin-left: 20px;
  display: none;
  height: 70px;
}

#item8{
  width: 100px;
  margin-left: 20px;
  display: none;
  height: 70px;
}

#item9{
  width: 100px;
  margin-left: 20px;
  display: none;
  height: 70px;
}

#bird{
  position: absolute;
  z-index: 2;
  bottom: 217px;
  left: 338px;
  cursor: pointer;
}

#stickbug{
  position: absolute;
  z-index: 2;
  top: 208px;
  right: 489px;
  cursor: pointer;
}

#leafbug{
  position: absolute;
  z-index: 2;
  bottom: 24px;
  right: 372px;
  cursor: pointer;
}

#forest-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: relative;
  left: 0;
  z-index: 1;
  padding-top: 140px;
}

.bottom-row3{
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-bottom: 60px;
  padding-left: 209px;
}

.image-bank{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 95px;
  width: 768px;
  border-bottom: 3px #19E8D6;
  border-bottom-style: dashed;
  padding-bottom: 50px;
  padding-top: 20px;
}

/*desert image starts here*/

#desert-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: relative;
  left: 0;
  z-index: 1;
  padding-top: 140px;
}

.bottom-row4{
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-bottom: 60px;
  padding-left: 209px;
}

.image-bank{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 95px;
  width: 768px;
  border-bottom: 3px #19E8D6;
  border-bottom-style: dashed;
  padding-bottom: 50px;
  padding-top: 20px;
}